/* Styles for the TheFaq component */
.faq {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;

    @include media("lg") {
      margin-top: 40px;
      flex-direction: column;
      gap: 40px;
    }
    @include media("sm") {
      margin-top: 30px;
      gap: 24px;
    }
  }

  &__list {
    flex: 1 0 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @include media("lg") {
      flex-basis: 0;
      width: 100%;
      gap: 20px;
    }
  }

  &__ask {
    flex: 0 0 435px;
    padding: 20px;
    width: 100%;
    max-width: 435px;
    background: #eff0ee;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    @include media("lg") {
      flex-basis: 0;
      max-width: 100%;
    }
  }
}
