.container {
  margin: 0 auto;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  width: 100%;
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  --position: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--position);
  }
}

.icon {
  min-width: var(--icon-size, 24px);
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.text-primary {
  color: var(--primary);
}

.underline {
  text-decoration: underline;
}

.text-h1 {
  font-size: 128px;
  font-weight: 400;
  font-family: var(--font-secondary);

  @include media("1380px") {
    font-size: 108px;
  }
  @include media("lg") {
    font-size: 80px;
  }
  @include media("md") {
    font-size: 64px;
  }
  @include media("sm") {
    font-size: 48px;
  }
}

.text-h2 {
  font-size: 96px;
  font-weight: 400;
  font-family: var(--font-secondary);

  @include media("1380px") {
    font-size: 80px;
  }
  @include media("lg") {
    font-size: 64px;
  }
  @include media("md") {
    font-size: 48px;
  }
  @include media("sm") {
    font-size: 32px;
  }
}

.text-h3 {
  font-size: 48px;
  font-weight: 400;
  font-family: var(--font-secondary);

  @include media("xl") {
    font-size: 27px;
  }
  @include media("sm") {
    font-size: 20px;
  }
}

// .text-h4 {
//   font-size: 32px;
//   font-weight: 700;
//   line-height: 120%;
//   letter-spacing: -0.02em;

//   @include media("xl") {
//     font-size: 25px;
//   }
// }

.sm\:hidden {
  @include media("641px", min-width) {
    display: none;
  }
}
