---
import App from "../layouts/App.astro";
import { H1, H2, H3, Button, Section, Image, Icon } from "@ui";
import { TheFaq, TheSEO } from "@components";
---

<App title="Предчистовая отделка">
  <main>
    <!-- Service -->
    <Section name="service">
      <div class="breadcrumb">
        <a href="/">Главная</a>
        <div class="line"></div>
        <a href="/services">Услуги</a>
        <div class="line"></div>
        <span>Предчистовая отделка</span>
      </div>

      <H2><span>Предчистовая отделка</span></H2>

      <div class="service__content">
        <div class="service__content-text">
          <H3>об услуге</H3>
          <p>
            Компания ООО "ГК ТНК" выполнит земляные работы вручную или с
            использованием экскаватора, независимо от объема и сложности: ручная
            копка, копка колодцев, уплотнение грунта и другие виды работ.
            <br /><br />
            Наши специалисты выезжают в любой район, предоставляя срочные услуги
            с прибытием на объект в минимальные сроки. Мы обеспечиваем выполнение
            работ с применением собственной спецтехники и инвентаря, соблюдаем все
            нормативные требования СНиП и СанПиН, а также заключаем официальный договор
            на оказание услуг.
            <br /><br />
            Нам доверяют как частные клиенты, так и коммерческие и государственные
            организации. Мы успешно помогли сотням клиентов, заслужив множество положительных
            отзывов о качестве нашей работы и сервиса.
          </p>
        </div>
        <div class="service__content-img">
          <Image src="services/others.png" />
        </div>
      </div>
    </Section>
    <!-- Steps -->
    <Section name="steps">
      <H3>Что включает предчистовая отделка</H3>
      <div class="steps__list">
        <div class="steps__item">
          <div class="steps__item-number">1</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Штукатурка и шпаклёвка стен</div>
            <p>
              Для предчистовой отделки стен важно добиться ровной и гладкой
              поверхности. Небольшие отклонения допустимы, но их величина не
              должна превышать 1-2 миллиметра по горизонтали, и такие
              погрешности могут присутствовать лишь на отдельных участках.
              Проверяем на отсутствие трещин, отслоений и следов от рабочих
              инструментов.
            </p>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">2</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Качественная подготовка пола</div>
            <p>
              На этапе предчистовой отделки мы выполняем стяжку пола,
              обеспечивая его ровность и готовность для укладки любого
              напольного покрытия. Особое внимание уделяется обработке стыков в
              местах соединения пола со стенами и перегородками. Стяжка
              выполняется с учётом требований по прочности, без дефектов и
              неровностей.
            </p>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">3</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Подготовка потолков</div>
            <p>
              Мы обеспечиваем ровную и завершённую отделку потолков, которая
              включает покраску или побелку. Это особенно важно, если дальнейшие
              работы с потолком не планируются. При этом гарантируется
              отсутствие трещин, сколов и иных дефектов.
            </p>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">3</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Установка системы отопления</div>
            <p>
              Отопительные приборы монтируются в строгом соответствии с
              установленными нормами. Мы следим за тем, чтобы батареи находились
              на одинаковом расстоянии от подоконника и пола, а тип крепления
              соответствовал установленным радиаторам, обеспечивая их безопасное
              и долговечное использование.
            </p>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">5</div>
          <div class="steps__item-content">
            <div class="steps__item-title">
              Остекление окон, балконов и монтаж дверей
            </div>
            <p>
              Мы тщательно следим за тем, чтобы установка окон и балконных
              блоков проходила без зазоров между стенами и рамой. Проверяем,
              чтобы стекла не имели повреждений, а оконные замки работали
              исправно. Также на этом этапе устанавливаются входные и балконные
              двери с отделкой откосов.
            </p>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">6</div>
          <div class="steps__item-content">
            <div class="steps__item-title">
              Электропроводка и сантехнические работы
            </div>
            <p>
              В рамках предчистовой отделки мы проводим монтаж электропроводки и
              сантехнических коммуникаций по всей квартире. Обязательно
              предоставляется план выполненных работ, чтобы избежать случайного
              повреждения проводов и труб при последующей финишной отделке.
            </p>
          </div>
        </div>
      </div>
    </Section>
    <!-- Trust -->
    <Section name="trust">
      <div class="trust__content">
        <div class="bg-img">
          <Image src="bg.svg" />
        </div>

        <H3>Доверьтесь профессионалам</H3>
        <p class="trust__content-desc">
          Выбирая ООО "ГК ТНК", вы доверяете опытным профессионалам, которые
          обеспечивают высокое качество выполнения любого проекта. Мы
          гарантируем комплексный подход на каждом этапе работ, используя
          современное оборудование и тщательно контролируя процесс. Наша
          компания предлагает оптимальное соотношение цены и качества,
          обеспечивая клиентам надежный результат по справедливой стоимости.
        </p>
        <div class="trust__content-actions">
          <div class="btn variant-outline" role="button" tabindex="0" aria-label="Написать нам">Написать нам</div>
          <a href="#" class="btn variant-outline">Позвонить нам</a>
        </div>
      </div>
    </Section>
    <!-- FAQ -->
    <TheFaq />
    <!-- SEO -->
    <TheSEO />
  </main>
</App>
