---
import App from "../layouts/App.astro";
import { H1, H2, H3, Button, Section, Image, Icon } from "@ui";
import { TheFaq, TheSEO } from "@components";
---

<App title="Ландшафтный дизайн">
  <main>
    <!-- Service -->
    <Section name="service">
      <div class="breadcrumb">
        <a href="/">Главная</a>
        <div class="line"></div>
        <a href="/services">Услуги</a>
        <div class="line"></div>
        <span>Ландшафтный дизайн</span>
      </div>

      <H2><span>Ландшафтный дизайн</span></H2>

      <div class="service__content">
        <div class="service__content-text">
          <H3>об услуге</H3>
          <p>
            Компания ООО "ГК ТНК" выполнит земляные работы вручную или с
            использованием экскаватора, независимо от объема и сложности: ручная
            копка, копка колодцев, уплотнение грунта и другие виды работ.
            <br /><br />
            Наши специалисты выезжают в любой район, предоставляя срочные услуги
            с прибытием на объект в минимальные сроки. Мы обеспечиваем выполнение
            работ с применением собственной спецтехники и инвентаря, соблюдаем все
            нормативные требования СНиП и СанПиН, а также заключаем официальный договор
            на оказание услуг.
            <br /><br />
            Нам доверяют как частные клиенты, так и коммерческие и государственные
            организации. Мы успешно помогли сотням клиентов, заслужив множество положительных
            отзывов о качестве нашей работы и сервиса.
          </p>
        </div>
        <div class="service__content-img">
          <Image src="services/landscape.png" />
        </div>
      </div>
    </Section>
    <!-- Work Steps -->
    <Section name="work-steps">
      <div class="work-steps__item">
        <div class="work-steps__header">
          <div class="bg-img">
            <Image src="bg.svg" />
          </div>
          <H3>Проектирование</H3>
        </div>
        <div class="work-steps__content">
          <div class="work-steps__text">
            <p>
              Эскизный проект– это разработка общей концепции участка с
              фотопримерами. <br /><br />
              Проект ландшафтного дизайна включает в себя полный комплект документации
              для реализации проекта загородного участка <br /><br />
              Дендроплан- это подробный чертеж сада, где указано размещение зеленых
              насаждений и цветников с ассортиментными ведомостями <br /><br />
              Проект ливневой и дренажной системы– включает в себя в план-схему организации
              отвода поверхностного стока <br /><br />
              Проект водоёмов и прудов включает в себя разработку плана общей концепции
              водоёма с учетом окружающей местности, с подбором материалов и техническими
              разрезами <br /><br />
              Проект освещения включает в себя план-схему расстановки светильников
              по линиям и трассировку кабеля. <br /><br />
              Проект автоматического полива включает в себя планы и схемы по правильному
              распределению влаги на участке и выполняется на основе дендроплана.
              <br /><br />
              Визуализация отдельных зон– это прорисовка перспективы любой видовой
              точки участка по выбору Заказчика в ручной графике или в формате 3D
              <br /><br />
              Проект озеленения и благоустройства участка
            </p>
          </div>
          <div class="work-steps__img">
            <Image src="steps/1.png" />
          </div>
        </div>
      </div>
      <div class="work-steps__item">
        <div class="work-steps__header">
          <div class="bg-img">
            <Image src="bg.svg" />
          </div>
          <H3>Озеленение</H3>
        </div>
        <div class="work-steps__content">
          <div class="work-steps__img">
            <Image src="steps/2.png" />
          </div>
          <div class="work-steps__text">
            <p>
              Мы Создадим проект будущего сада, учитывая особенности ландшафта и
              типа грунта. А так же оптимизируем расположение саженцев.
              Подготовим почву для последующей высадки. <br /><br />
              Посадка деревьев любых размеров. Посадим деревья строго по технологии.
              <br /><br />
              Посадка декоративных кустарников. Проведём тщательную оценку местности
              и выберем подходящие сорта декоративных кустарников для конкретного
              участка озеленения. Сами привезём растения на объект и посадим. Возьмемся
              за создание живых изгородей: от классических стриженных до свободно
              растущих, цельных из цветущего материала. Обеспечим профессиональный
              уход за насаждениями. <br /><br />
              Создание цветочных композиций. Используем многолетние культуры. <br
              /><br />
              Вертикальное озеленение. Украсим неприглядные фасады вьющимися растениями.
              Посадим стриженые деревья и кустарники, чтобы создать привлекательные
              зеленые стены. <br /><br />
              Создание газонов. Проведем обустройство любого типа газона: рулонного,
              посевного, универсального, партерного, спортивного, мавританского и
              лугового. Применяем качественные составы трав. <br /><br />
              Оформление и озеленение жилых и нежилых помещений. Предлагаем услуги
              по озеленению интерьеров.
            </p>
          </div>
        </div>
      </div>
      <div class="work-steps__item">
        <div class="work-steps__header">
          <div class="bg-img">
            <Image src="bg.svg" />
          </div>
          <H3>Благоустройство</H3>
        </div>
        <div class="work-steps__content">
          <div class="work-steps__text">
            <p>
              Работы по благоустройству - доставим необходимое количество грунта
              и песка, создадим идеальный рельеф для будущего сада. Установим
              дренажную и ливневую системы, чтобы не допустить излишнего
              обводнения участка. Оснастим его системой автополива, которая
              позаботится о каждом растении, экономя ваши силы и ресурсы. После
              инженерных работ вывезем весь мусор. <br /><br />
              Создание дорожек - сделаем разметку садовых дорожек и площадок. Дорожки
              из плитняка, декоративного камня, брусчатки, бетона…. <br /><br />
              Укладка приусадебных участков агроволокном (геотекстилем) и засыпка
              декоративным камнем, галькой, цветным щебнем. <br /><br />
              Проведем освещение <br /><br />
              Создадим автополив.
            </p>
          </div>
          <div class="work-steps__img">
            <Image src="steps/3.png" />
          </div>
        </div>
      </div>
    </Section>
    <!-- photos and videos -->
    <Section name="gallery">
      <H3><span>фото и видео</span></H3>
      <p class="gallery__desc">
        В нашей фотогалерее вы можете ознакомиться с фото и видео наших
        построенных домов, их экстерьерами и интерьерами, а также с <br /> фотографиями
        процесса строительства.
      </p>
      <div class="gallery__list">
        {
          Array(4)
            .fill(0)
            .map((_, index) => (
              <div
                class="gallery__item"
                data-cursor="view"
                data-fancybox="gallery"
                data-src="./assets/img/project.png"
              >
                <Image src="project.png" />
              </div>
            ))
        }
      </div>
      <a href="/portfolio" class="gallery__link" data-cursor="link">
        <span>Наше портфолио</span>
        <svg
          width="241"
          height="8"
          viewBox="0 0 241 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M240.354 4.35355C240.549 4.15829 240.549 3.84171 240.354 3.64645L237.172 0.464466C236.976 0.269204 236.66 0.269204 236.464 0.464466C236.269 0.659728 236.269 0.976311 236.464 1.17157L239.293 4L236.464 6.82843C236.269 7.02369 236.269 7.34027 236.464 7.53553C236.66 7.7308 236.976 7.7308 237.172 7.53553L240.354 4.35355ZM0 4.5H240V3.5H0V4.5Z"
            fill="currentColor"></path>
        </svg>
      </a>
    </Section>
    <!-- Trust -->
    <Section name="trust">
      <div class="trust__content">
        <div class="bg-img">
          <Image src="bg.svg" />
        </div>

        <H3>Доверьтесь профессионалам</H3>
        <p class="trust__content-desc">
          Выбирая ООО "ГК ТНК", вы доверяете опытным профессионалам, которые
          обеспечивают высокое качество выполнения любого проекта. Мы
          гарантируем комплексный подход на каждом этапе работ, используя
          современное оборудование и тщательно контролируя процесс. Наша
          компания предлагает оптимальное соотношение цены и качества,
          обеспечивая клиентам надежный результат по справедливой стоимости.
        </p>
        <div class="trust__content-actions">
          <a href="#" class="btn variant-outline">Написать нам</a>
          <a href="#" class="btn variant-outline">Позвонить нам</a>
        </div>
      </div>
    </Section>
    <!-- FAQ -->
    <TheFaq />
    <!-- SEO -->
    <TheSEO />
  </main>
</App>
