---
import App from "../layouts/App.astro";
import { H1, H2, H3, Button, Section, Image, Icon } from "@ui";
import { TheFaq, TheSEO } from "@components";
---

<App title="Возведение коробки под ключ">
  <main>
    <!-- Service -->
    <Section name="service">
      <div class="breadcrumb">
        <a href="/">Главная</a>
        <div class="line"></div>
        <a href="/services">Услуги</a>
        <div class="line"></div>
        <span>Возведение коробки под ключ</span>
      </div>

      <H2><span>Возведение коробки под ключ</span></H2>

      <div class="service__content">
        <div class="service__content-text">
          <H3>об услуге</H3>
          <p>
            Компания ООО "ГК ТНК" выполнит земляные работы вручную или с
            использованием экскаватора, независимо от объема и сложности: ручная
            копка, копка колодцев, уплотнение грунта и другие виды работ.
            <br /><br />
            Наши специалисты выезжают в любой район, предоставляя срочные услуги
            с прибытием на объект в минимальные сроки. Мы обеспечиваем выполнение
            работ с применением собственной спецтехники и инвентаря, соблюдаем все
            нормативные требования СНиП и СанПиН, а также заключаем официальный договор
            на оказание услуг.
            <br /><br />
            Нам доверяют как частные клиенты, так и коммерческие и государственные
            организации. Мы успешно помогли сотням клиентов, заслужив множество положительных
            отзывов о качестве нашей работы и сервиса.
          </p>
        </div>
        <div class="service__content-img">
          <Image src="services/box.png" />
        </div>
      </div>
    </Section>
    <!-- Prices -->
    <Section name="prices">
      <H3>Мы строим коробки из следующих материалов</H3>
      <ul class="prices__list">
        <li class="prices__item">
          <div class="prices__item-title">Кирпич</div>
          <div class="prices__item-price">от 465 руб.</div>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Заказать"
          >
            Заказать
          </div>
        </li>
        <li class="prices__item">
          <div class="prices__item-title">Газобетон</div>
          <div class="prices__item-price">от 465 руб.</div>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Заказать"
          >
            Заказать
          </div>
        </li>
        <li class="prices__item">
          <div class="prices__item-title">Керамика</div>
          <div class="prices__item-price">от 465 руб.</div>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Заказать"
          >
            Заказать
          </div>
        </li>
        <li class="prices__item">
          <div class="prices__item-title">Арболит</div>
          <div class="prices__item-price">от 465 руб.</div>
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Заказать"
          >
            Заказать
          </div>
        </li>
      </ul>
    </Section>
    <!-- Steps -->
    <Section name="steps">
      <H3>этапы работы по возведению коробки</H3>
      <div class="steps__list">
        <div class="steps__item">
          <div class="steps__item-number">1</div>
          <div class="steps__item-content">
            <div class="steps__item-title">
              Земляные работы и строительство фундамента
            </div>
            <ul>
              <li>Геодезические работы и привязки проекта дома к участку</li>
              <li>
                Колышками и ограничительной лентой определяется зона рытья
                котлована
              </li>
              <li>Устройство заезда на строительную площадку</li>
              <li>
                Работа экскаватора по разработке котлована и планированию
                участка. Окончательная «доводка» котлована вручную.
              </li>
              <li>
                Вручную выкапывается траншея и закладываются инженерные трубы –
                «закладные».
              </li>
              <li>
                Устройства подстилающих слоев фундамента – геотекстиль, песок и
                щебень с послойным трамбованием.
              </li>
              <li>Устройство подбетонки, если предусмотрена проектом</li>
              <li>Устройство наплавляемой или рулонной гидроизоляции</li>
              <li>Монтаж опалубки</li>
              <li>Монтаж арматурного каркаса монолитного ж/б фундамента</li>
              <li>Монтаж арматурного каркаса крылец, террас, пристроек</li>
              <li>
                Заливка бетона производится автобетононасосом с обязательной
                работой глубинным вибратором
              </li>
              <li>
                Уход за бетоном: укрытие технической пленкой в случае дождя и
                мероприятий по недопущению быстрой потери влаги
              </li>
              <li>Демонтаж опалубки</li>
            </ul>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">2</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Строительство стен 1-го этажа</div>
            <ul>
              <li>Устройство отсечной гидроизоляции под несущими стенами</li>
              <li>
                Раскладка первого ряда с устройством доборных блоков в
                соответствии с планировкой, контролем проемов, правильностью
                размещения на фундаменте, определением мест под дымоходы
              </li>
              <li>
                Кладка первого ряда газобетона на раствор. От правильной кладки
                1го ряда зависит ровность и прочность всей конструкции дома
              </li>
              <li>
                Кладка газобетонных блоков на специальный тонкошовный клей с
                устройством штроб и армированием согласно проектной документации
              </li>
              <li>Перевязка внутренних и наружных несущих стен</li>
              <li>
                Монтаж распорной конструкции из досок для перемычек. Устройство
                железобетонных перемычек, в т.ч. из U-блоков
              </li>
            </ul>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">3</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Строительство перекрытия</div>
            <ul>
              <li>Монтаж штатной опалубки для перекрытия</li>
              <li>Устройство инженерных проходов (шахт)</li>
              <li>
                Кладка газобетона по периметру межэтажного перекрытия и монтаж
                утеплителя
              </li>
              <li>Монтаж арматурного каркаса монолитного ж/б перекрытия</li>
              <li>
                Устройство теплоизоляционных отсечек на границах с балконами
              </li>
              <li>
                Монтаж арматурного каркаса балконных «вылетов», межэтажных
                лестниц
              </li>
              <li>
                Заливка бетона производится автобетононасосом с обязательной
                работой глубинным вибратором
              </li>
              <li>Демонтаж опалубки перекрытия</li>
            </ul>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">3</div>
          <div class="steps__item-content">
            <div class="steps__item-title">Строительство стен 2-го этажа</div>
            <ul>
              <li>Устройство отсечной гидроизоляции под несущими стенами</li>
              <li>
                Раскладка первого ряда с устройством доборных блоков в
                соответствии с планировкой, контролем проемов, правильностью
                размещения на фундаменте, определением мест под дымоходы
              </li>
              <li>
                Кладка первого ряда газобетона на раствор. От правильной кладки
                1го ряда зависит ровность и прочность всей конструкции дома
              </li>
              <li>
                Кладка газобетонных блоков на специальный тонкошовный клей с
                устройством штроб и армированием согласно проектной документации
              </li>
              <li>Перевязка внутренних и наружных несущих стен</li>
              <li>
                Монтаж распорной конструкции из досок для перемычек. Устройство
                железобетонных перемычек, в т.ч. из U-блоков
              </li>
              <li>Строительство армопояса из U-блоков под мауэрлаты</li>
            </ul>
          </div>
        </div>
        <div class="steps__item">
          <div class="steps__item-number">5</div>
          <div class="steps__item-content">
            <div class="steps__item-title">
              Монтаж стропильной системы и кровли
            </div>
            <ul>
              <li>
                Антисептирование и огнезащита всех деревянных конструкций
                стропильной системы
              </li>
              <li>Монтаж несущего каркаса крыши и стропильной системы</li>
              <li>Монтаж ветровлагозащитной пленки</li>
              <li>
                Монтаж контробрешетки и шаговой обрешетки. Сплошная обрешетка —
                в случае монтажа гибкой черепицы
              </li>
              <li>Формирование кровельного вентзазора</li>
              <li>Монтаж черепицы и доборных элементов</li>
              <li>Установка аэраторов</li>
              <li>Строительство дымоходных и вентиляционных труб</li>
              <li>Монтаж планок примыкания</li>
              <li>Монтаж снегозадержателей</li>
              <li>Монтаж утеплителя</li>
              <li>Контроль монтажа пароизоляционной пленки</li>
            </ul>
          </div>
        </div>
      </div>
    </Section>
    <!-- Trust -->
    <Section name="trust">
      <div class="trust__content">
        <div class="bg-img">
          <Image src="bg.svg" />
        </div>

        <H3>Доверьтесь профессионалам</H3>
        <p class="trust__content-desc">
          Выбирая ООО "ГК ТНК", вы доверяете опытным профессионалам, которые
          обеспечивают высокое качество выполнения любого проекта. Мы
          гарантируем комплексный подход на каждом этапе работ, используя
          современное оборудование и тщательно контролируя процесс. Наша
          компания предлагает оптимальное соотношение цены и качества,
          обеспечивая клиентам надежный результат по справедливой стоимости.
        </p>
        <div class="trust__content-actions">
          <a href="#" class="btn variant-outline">Написать нам</a>
          <a href="#" class="btn variant-outline">Позвонить нам</a>
        </div>
      </div>
    </Section>
    <!-- FAQ -->
    <TheFaq />
    <!-- SEO -->
    <TheSEO />
  </main>
</App>
