main {
  margin-top: 120px;
}

// ** Background lines ** //
.bg-lines {
  @include media("lg") {
    display: none;
  }

  .line-1,
  .line-2,
  .line-3 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--gray);
    z-index: -1;
  }

  .line-1 {
    left: calc(50% - 440px);
  }

  .line-2 {
    left: calc(50% - 100px);
  }

  .line-3 {
    left: calc(50% + 460px);
  }
}

// ** Section Intro ** //
.intro {
  background: var(--secondary);

  &__content {
    position: relative;
    width: 100%;
  }

  .text-h1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    div {
      overflow: hidden;
    }

    div:last-child {
      margin-top: 20px;
      margin-left: auto;

      @include media("lg") {
        margin-top: auto;
      }
    }

    span {
      display: block;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 32px;

    img {
      width: 284px;
      height: 130px;
      object-fit: cover;
      object-position: left;
    }

    figcaption {
      min-width: 251px;
      max-width: 251px;
    }

    @include media("1380px") {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: fit-content;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    @include media("lg") {
      position: static;
      margin-top: 20px;
      width: 100%;
      flex-direction: row;
      align-items: center;

      img {
        width: auto;
        flex-grow: 1;
      }
    }
    @include media("md") {
      figcaption {
        display: none;
      }
    }
  }

  &__action {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-btn {
      display: flex;
      align-items: center;
      gap: 24px;

      span {
        font-size: 20px;
      }
    }

    &-desc {
      min-width: 251px;
      max-width: 251px;
      text-align: right;
    }

    @include media("1380px") {
      position: static;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: auto;
    }
    @include media("lg") {
      width: 100%;
    }
    @include media("md") {
      margin-top: 20px;
      margin-bottom: 32px;

      &-btn span {
        font-size: 16px;
      }
    }
    @include media("sm") {
      flex-direction: column;
      align-items: flex-start;

      &-desc {
        margin-left: auto;
      }
    }
  }

  &__video {
    margin-top: 10px;
    width: 100%;
    height: 340px;

    @include media("lg") {
      height: 280px;
    }
    @include media("sm") {
      height: 220px;
    }
    @include media("xs") {
      height: 185px;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// ** Section Modern ** //
.modern {
  padding: 145px 0 100px;
  overflow: hidden;

  @include media("lg") {
    padding: 80px 0;
  }
  @include media("sm") {
    padding: 35px 0;
  }

  .text-h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    @include media("lg") {
      gap: 20px;
    }
    @include media("sm") {
      gap: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(calc(-100% - 160px));
      width: 548px;
      height: 82.5px;
      background: url('data:image/svg+xml,<svg width="549" height="84" viewBox="0 0 549 84" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 83.5H465.5L548 1" stroke="%232A2A2A"/></svg>')
        center/contain no-repeat;

      @include media("1380px") {
        transform: translateX(calc(-100% - 50px));
      }
      @include media("lg") {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-30px);
      width: 751.5px;
      height: 215.5px;
      background: url('data:image/svg+xml,<svg width="752" height="217" viewBox="0 0 752 217" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 136.5L136 1L351.5 216.5H752" stroke="%232A2A2A"/></svg>')
        center/contain no-repeat;

      @include media("1380px") {
        transform: translateX(20px);
      }
      @include media("lg") {
        display: none;
      }
    }

    div {
      overflow: hidden;
    }

    div:nth-child(2) {
      margin-left: 230px;

      @include media("lg") {
        margin: 0 auto;
      }
    }

    div:nth-child(3) {
      align-self: flex-end;
    }

    span {
      text-transform: uppercase;
      display: block;
    }

    strong {
      color: var(--primary);
      font-weight: 400 !important;
    }
  }

  &__cards {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media("1380px") {
      margin-top: 80px;
    }
    @include media("lg") {
      margin-top: 40px;
      flex-direction: column;
      gap: 20px;
    }
    @include media("sm") {
      margin-top: 24px;
      gap: 10px;
    }
  }

  &__card {
    @include nth(1) {
      width: 660px;
      height: 340px;

      img {
        width: 100%;
        height: 100%;
        max-height: 380px;
        object-fit: cover;
      }

      @include media("1380px") {
        width: 480px;
        height: 280px;
      }
      @include media("lg") {
        width: 100%;
        height: auto;
      }
    }
    @include nth(2) {
      width: 545px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img {
        width: 100%;
        height: 290px;
        object-fit: cover;
      }

      figcaption {
        padding-top: 30px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
      }

      @include media("1380px") {
        width: 420px;

        img {
          height: 240px;
        }

        figcaption {
          padding-top: 20px;
        }

        svg {
          width: 120px;
          height: auto;
        }
      }
      @include media("lg") {
        width: 100%;

        img {
          height: auto;
          max-height: 340px;
        }
      }
      @include media("xs") {
        svg {
          width: 80px;
        }
      }
    }
  }
}

.example {
  height: 100vh;
}

// @include show(".modern", true);
