---
import { Section, H2, Accordion } from "@ui";
---

<Section name="faq">
  <H2>
    <div>
      <span>отвечаем на частые вопросы</span>
    </div>
  </H2>
  <div class="faq__content">
    <div class="faq__list" data-accordion>
      <Accordion title="Сколько стоит построить дом ?">
        Мы занимаемся индивидуальным загородным строительством. Это означает,
        что каждый наш объект уникален. Поэтому мы не называем среднюю стоимость
        за м², а выполняем расчет на основе проекта.Стоимость строительства
        зависит от многих составляющих — площадь дома, материалы, логистика,
        объемы работ и многое другое.
      </Accordion>
      <Accordion title="Сколько времени занимает строительство?">
        Мы занимаемся индивидуальным загородным строительством. Это означает,
        что каждый наш объект уникален. Поэтому мы не называем среднюю стоимость
        за м², а выполняем расчет на основе проекта.Стоимость строительства
        зависит от многих составляющих — площадь дома, материалы, логистика,
        объемы работ и многое другое.
      </Accordion>
      <Accordion title="Кто закупает материалы?">
        Мы занимаемся индивидуальным загородным строительством. Это означает,
        что каждый наш объект уникален. Поэтому мы не называем среднюю стоимость
        за м², а выполняем расчет на основе проекта.Стоимость строительства
        зависит от многих составляющих — площадь дома, материалы, логистика,
        объемы работ и многое другое.
      </Accordion>
      <Accordion title="Вы строите по готовым проектам?">
        Мы занимаемся индивидуальным загородным строительством. Это означает,
        что каждый наш объект уникален. Поэтому мы не называем среднюю стоимость
        за м², а выполняем расчет на основе проекта.Стоимость строительства
        зависит от многих составляющих — площадь дома, материалы, логистика,
        объемы работ и многое другое.
      </Accordion>
      <Accordion title="Можно ли строить зимой?">
        Мы занимаемся индивидуальным загородным строительством. Это означает,
        что каждый наш объект уникален. Поэтому мы не называем среднюю стоимость
        за м², а выполняем расчет на основе проекта.Стоимость строительства
        зависит от многих составляющих — площадь дома, материалы, логистика,
        объемы работ и многое другое.
      </Accordion>
    </div>
    <div class="faq__ask">
      <p class="faq__ask-desc">
        Нет ответа на ваш вопрос? <br />
        Напишите нам и мы ответим на все ваши вопросы.
      </p>
      <div
        class="faq__ask-btn btn variant-outline"
        role="button"
        tabindex="0"
        aria-label="Написать нам"
        data-modal="form"
      >
        Написать нам
      </div>
    </div>
  </div>
</Section>
